/*
Theme Name: Anri Blog theme
Theme URI: https://anri.com
Author: Mahmud
Author URI: https://mahmud.com/
Description:This is blog theme
Version: 1.0
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

*/

/*Blog post*/
.blog-post__image img, .single-post__author-avatar img, .single-post__image img {
    width: 100%;
    height: 350px;
}
